html {
    box-sizing: border-box;
    font-size: 62.5%;
}

#root {
    height: 100%; 
}

.grid_container {
    display: grid;
    height: 100%;
    
}

.header-menu a {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.header-links a {
    color: white;
    padding: 1rem;
    font-size: rem;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

/* ----------- */

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products-list li {
    list-style-type: none;
    padding: 0;
    margin: 2rem;
}

.product-name {
    font-size: 2.5rem;
    font-weight: bold;
}

.product-price {
    font-size: 2.5rem;
    font-weight: 500;
}

.product-image {
    max-width: 25rem;
    max-height: 25rem;
}

/* Product Description */
.product-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.product-info {
    margin-left: 10%;
}

.product-info-name {
    font-size: 5rem;
    margin-bottom: 30px;
}

.product-info-price {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.product-info-desription {
    margin-bottom: 20px;
}

.product-info-add-to-cart {
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 250px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    text-transform: uppercase;
    margin-top: 40px;   
}